.film-listesi2{
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px;
    justify-items: center;
    height: 270px;
    scrollbar-width: none;
}
.film-bilgi{
    top: 0;
    left: 200px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: white;
    gap: 10px;
} 
.kutu2{
    position: relative;
    display: inline-block;
    height: 270px;
    width: 200px;
    flex-shrink: 0;
    transition: width 0.4s ease, transform 0.4s ease;
}
.kutu2:hover{
    width: 400px;
}
.kart img{
    width: 200px;
    height: auto;
    display: block;
    object-fit: cover;
}
.kutu2:hover .film-bilgi{
    opacity: 1;
    visibility: visible;
    transform: translate(0);
}
.kart, .film-bilgi{
    position: absolute;
    width: 200px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.kutu2:hover ~ .kutu2{
    transform: translateX(0px);
    transition: transform 0.4s ease;
} 
@media (max-width: 500px) {
  .film-listesi {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}
