.body{
    font-family: 'Fira Sans', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.tanıtım img{
    width: 600px;
    height: 400px;
}
.tanıtım{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}